.btn {
  position: relative;
  display: inline-block;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $body-color;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: $btn-border-width solid transparent;
  @include button-size($btn-padding-y,$btn-padding-x,$btn-font-size,$border-radius);
  //padding: $btn-padding-y $btn-padding-x;     因为设置已经被上面那行包括了，所以此处三行删除
  //font-size: $btn-font-size;
  //border-radius: $border-radius;
  box-shadow: $btn-box-shadow;
  cursor: pointer;
  transition: $btn-transition;

  // 给disabled 添加特殊样式
  &.disabled,
  &[disabled] {
    cursor: not-allowed;              // 鼠标放上去 是一个禁止的样式
    opacity: $btn-disabled-opacity;
    box-shadow: none;
    > * {                             // 用通配符 给所有子元素都设置 pointer-events
      pointer-events: none;           // 不接受鼠标事件
    }
  }
}

.btn-lg{
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg);
}
.btn-sm{
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
}

.btn-primary{
  @include button-style($primary, $primary, $white)
}

.btn-danger{
  @include button-style($danger, $danger, $white)
}

.btn-default{
  @include button-style($white, $gray-400, $body-color, $white, $primary)
}